asgiref
autopep8
boto3
botocore
Django
django-crispy-forms
django-environ
django-filter
django-localflavor
django-storages
gunicorn
jmespath
Pillow
psycopg2
pycodestyle
python-dateutil
python-stdnum
s3transfer
six
sqlparse
toml
urllib3
whitenoise